<div class="container">
  <!-- Header box -->
  <div class="row">
    <h1>Docker constraint research</h1>
    <hr>
  </div>

  <!--Selection box -->
  <div class="row">
    <div class="col-md-3">
      <label>Types</label>
      <select class="form-control" placeholder="Constraint Type" id="constraint-type" [(ngModel)]="currentType">
        <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
      </select>

    </div>
    <div class="col-md-3 col-md-offset-6">
      <label>Configuration</label>
      <select class="form-control" id="constraint-configuration" (change)="onConfigurationChange()"
              [(ngModel)]="configuration">
        <option *ngFor="let conf of configurations" [ngValue]="conf">{{conf.options}}</option>
      </select>
    </div>
  </div>

  <!-- Content box -->
  <div class="row">
    <h3>MySQL Query Response Time</h3>
    <table class="table table-bordered table-hover table-striped">
      <thead class="thead-default">
      <tr>
        <th *ngFor="let h of tableData.headers">{{h}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of tableData.values">
        <th scope="row">
          {{row[0]}}
        </th>
        <ng-container *ngFor="let v of row; let i = index;">
          <td *ngIf="i > 0">
            {{v}}
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>
