<div>
  <!-- Header box -->
  <div>
    <h1>Docker constraint research</h1>
    <hr>
  </div>

  <!--Selection box -->
  <div>
    <div>
      <label>Types</label>
      <select placeholder="Constraint Type" id="constraint-type" [(ngModel)]="currentType">
        <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
      </select>

    </div>
    <div>
      <label>Configuration</label>
      <select id="constraint-configuration" (change)="onConfigurationChange()"
              [(ngModel)]="configuration">
        <option *ngFor="let conf of configurations" [ngValue]="conf">{{conf.options}}</option>
      </select>
    </div>
  </div>

  <!-- Content box -->
  <!--Overall Table-->
  <div class="ui grid container">
    <div class="row">
      <div class="ui fluid segments">
        <div class="ui segment">
          <div class="title active">
            <p>MySQL Query Response Time</p>
          </div>
        </div>
        <div class="ui secondary segment">
          <div class="ui fluid styled accordion ">
            <div class="active title">
              <i class="dropdown icon"></i>
              Overall table
            </div>
            <div class="active content">
              <table class="ui celled padded table">
                <thead>
                <tr>
                  <th *ngFor="let h of responseTableData.headers">{{h}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of responseTableData.values">
                  <th>
                    {{row[0]}}
                  </th>
                  <ng-container *ngFor="let v of row; let i = index;">
                    <td *ngIf="i > 0">
                      {{v}}
                    </td>
                  </ng-container>
                </tr>
                </tbody>
              </table>

            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Charts
            </div>
            <div class=" content">
            </div>

          </div>
        </div>
        <div class="ui segment">
          <div class="title active">
            <p>CPU Usage</p>
          </div>
        </div>
        <div class="ui secondary segment">
          <table class="ui celled padded table">
            <thead>
            <tr>
              <th *ngFor="let h of cpuUsageTableData.headers">{{h}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of cpuUsageTableData.values">
              <th>
                {{row[0]}}
              </th>
              <ng-container *ngFor="let v of row; let i = index;">
                <td *ngIf="i > 0">
                  {{v}}
                </td>
              </ng-container>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
